{% extends 'base/main.html'%}

{% block content%}
<div class="container mgt-medium">

    <!-- Body section -->
    <section class="section about">
            <h1 class="title">
                About
            </h1>
            <br>
            <p class="subtitle">Hello, i'm <strong>Dav</strong>.
                <br>
                I created this text editor for the people who does not have installed an office tool and want to create something similar from the web without having to installing it.
                <br>
                This text editor was built using Django and Bulma.
            </p>
        </div>

    </section>
    <div>

        {% endblock content %}